.main {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 80.25px;
}
.welcomeText {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 46px;
}
