.columnLabels {
    display: grid;
    grid-template-columns: 182.4px 182.4px 182.4px 182.4px 182.4px;
}
.columnLabelBlock {
    display: flex;
    padding: 16px 10px;
    height: 24px;
    align-items: center;
    column-gap: 3px;
    border-bottom: rgba(#000000, 0.12) 1px solid;
}
.columnLabelText {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(#000000, 0.87);
    cursor: pointer;
    user-select: none;
}
